#card_div {
    width: 150px;
    height: auto;
    position: relative;
    transition: all .2s ease-in-out;

}

.card_img {
    position: absolute;
    width: 150px;
    height: auto;
}

/*#card_div:active{*/
/*    transform-origin: right;*/
/*    transform: scaleX(1.05);*/
/*}*/


