.game-container {
    display: grid;
    width: 90%;
    border-radius: 7px;
    position: absolute;
    background-color: grey;
    box-shadow: 5px 5px 4px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

@media (device-aspect-ratio: 16/10) {
    .card-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        -webkit-user-drag: none;
        visibility: hidden;
        transform-style: preserve-3d;

    }

    .front-card-container {
        position: relative;
        float: left;
        background-color: rgba(200, 200, 200);
        border: 10px solid white;
        margin: 7px;
        height: 230px;
        padding: -15px;
        width: 100%;
        transform-style: preserve-3d;
        border-radius: 20px;
        box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.4);

    }
}

@media (device-aspect-ratio: 16/9) {
    .card-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        -webkit-user-drag: none;
        visibility: hidden;
        transform-style: preserve-3d;
    }

    .front-card-container {
        position: relative;
        float: left;
        background-color: rgba(200, 200, 200);
        border: 5px solid;
        margin: 10px;
        height: 300px;
        width: 100%;
        transform-style: preserve-3d;
        border-radius: 10px;
        box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.4);

    }
}

.main-card-container {
    width: 85%;
    perspective: 1000px;
    transition: all .1s ease-in;
    cursor: grab;
}

.main-card-container:hover {
    transform: scale(1.05);
}

#start-btn{
    position: relative;
    border-color: #4c4c4c;
    font-size: 20px;
    width: 20%;
    border-radius: 10px;
    height: 40px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 100px;
}

#win-container{
    background-color: #cccccc;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.4);

    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-family: Verdana;

    visibility: hidden;
}

#win-container h3 {
    font-weight: inherit;
}


#play_btn {
    position: relative;
    border-radius: 5px;
    border-style: solid;
    border-color: #4c4c4c;
    width: 60px;
    padding: 2px;
}

#quit_btn {
    position: relative;
    border-radius: 5px;
    border-style: solid;
    border-color: #4c4c4c;
    width: 60px;
    padding: 2px;

}