@font-face {
    font-family: "alarm_clock";
    src: url("/assets/fonts/alarm_clock.ttf")
}


.game-grid {
    display: grid;
    place-items: center;
    grid-column-end: auto;
    border-radius: 7px;
    transform: translate(-50%);
    position: relative;
    left: 50%;
    width: 900px;
    background-color: grey;
    box-shadow: 5px 5px 4px 3px rgba(0, 0, 0, 0.2);
    visibility: hidden;
}

#main img#splash_img {
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: -1000;
    position: absolute;
}


.card-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    -webkit-user-drag: none;
    visibility: hidden;
    transform-style: preserve-3d;
}

.front-card-container {
    position: relative;
    float: left;
    background-color: rgba(200, 200, 200);
    border: 10px solid white;
    margin: 7px;
    height: 200px;
    width: 130px;
    transform-style: preserve-3d;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.4);
}

.main-card-container {
    width: auto;
    perspective: 1000px;
    transition: all .1s ease-in;
    cursor: grab;
}

.main-card-container:hover {
    transform: scale(1.05);
}

#submitBtn{
    width: 20%;
    height: 60px;
    font-size: 30px;
    left: 50%;
    visibility: hidden;
    position: relative;
    transform: translate(-50%);
}

#score_label {
    font-size: 15px;
}


#win-container{
    background-color: #cccccc;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana;
    visibility: hidden;
}

#win-container h3 {
    font-weight: inherit;
}

#win-container button{
    padding: 5px;
    width: 100px;
    height: auto;
    position: relative;
    border-radius: 5px;
    border-style: solid;
    border-color: #4c4c4c;
    margin: 5px;
}

#timer{
    font-family: Verdana;
    font-size: 40px;
    text-align: center;
    color: white;
}

.start-container{
    display: flex;
    justify-content: center;
}