.main img#splash_img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.header {
    padding-bottom: 5px;
}

.splash_text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.splash_text h1, h2{
    font-family: Verdana;
}