.main img#splash_img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.header {
    padding-bottom: 5px;
}

.splash_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}