.nav_bar{
    background-color: blue;
    padding: 10px 10px 10px 10px;
    width: auto;
}

.nav_bar ul{
    font-family: Verdana;
    list-style: None;
    font-size: 12px;
    margin-top: 0;
    padding: 0px 0px 0px 0px;
}

.nav_bar li{
    padding-left: 7px;
    padding-right: 10px;
}

.nav_bar li a{
    color: white;
    text-decoration: None;
}

.nav_bar li#home{
    float: left;
}

.nav_bar li#leaderboard{
    float: right;
}

.nav_bar li#register{
    float: right;
}

.nav_bar li#memory{
    float: right;
}





