#main {
    margin-top: 1%;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    margin-left: 50%;
    width: auto;
    transform: translate(-50%);
    height: 600px;
    background-color: rgba(220,220,220,95%);
    border-radius: 10px;
}

#splash_img {
    max-width: 100%;
    width: 100%;
    height: auto;
    position: absolute;
}

@media (max-aspect-ratio: 16/10) {
    #main {
        margin-top: 1%;
        padding: 5px 5px 5px 5px;
        display: inline-block;
        margin-left: 25%;
        width: auto;
        transform: translate(-25%);
        height: 600px;
        background-color: rgba(220,220,220,95%);
        border-radius: 10px;
    }
}

#main label{
    font-family: Verdana;
}

#main form hr{
    height: 2px;
    border-radius: 1px;
    background-color: #4c4c4c;
    border: none;
    width: 100%;
}

#main form input#uname_input{
    border-radius: 10px;
    border-color: dimgrey;
    width: 100%;
}

#register_submit {
    width: 100%;
    font-family: Verdana;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 120px;
    padding: 5px 5px 5px 5px;

}

#main form label#valid_label{
    font-size: 12px;
    position: relative;
}

#display_avatar {
    width: 200px;
    height: auto;
    position: relative;
}

.avatarOverlay {
    position: absolute;
    left: 55%;
    width: 120px;
    height: auto;
}

.avatar_create img{
    width: 50px;
    border-style: solid;
    border-color: #4c4c4c;
    border-width: 2px;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
    margin: 4px 4px 4px 4px;
    height: auto;
    transition: all .2s ease-in-out;
}

.avatar_create img:hover {
    transform: scale(1.05);
    background-color: rgba(0,0,0,0.2);
}

.avatar_create img:active {
    transform: scale(0.8);
    background-color: rgba(0,0,0,0.5);
}