.login {
    padding: 5px 5px 5px 5px;
}

.login label{
    font-family: Verdana;
}

.login form input#uname_input{
    border-radius: 5px;
    border-color: dimgrey;
    width: auto;
}

.login form label#valid_label{
    font-size: 12px;
}

.avatar_create {
}

.avatar_create#face_select{
}


.avatar_create img{
    width: 50px;
    border-style: solid;
    border-width: 1px;
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
    height: auto;
}